@import url("https://unpkg.com/bootstrap@4.5.2/dist/css/bootstrap.min.css");
.top-margin {
    margin-top: 20px;
}

.button-margin {
    margin: 8px 8px 8px 0;
}

.full-width {
    width: 100%;
    margin-top: 25px;
}

.text-area {
    height: 500px;
}

.arabic {
    line-height: 150%;
    font-size: large;
    direction: rtl;
    text-align: right;
}

.english {
    line-height: 130%;
}

.spacing {
    padding-top: 25px;
    padding-bottom: 5px;
    line-height: 150%;
}