<div class="grid-container">
    <h1 class="title">About</h1>

    <p>
        بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
    </p>

    <p>
        Open Arabic is a bilingual blog for anyone interested in
        orthodox islamic topics - in both arabic and english - from authors such as
        Ibn Taymiyyah, Ibn Qayyim al-Jawziyya, Ibn Rajab al-Hanbali, Imam Nawawī and many more.
    </p>
    <p>
        If you have any suggestions or comments, then please send and email to
        <a class="simple-link link-color" href="mailto:yunus@edenmindcom">yunus@edenmind.com</a>.
    </p>
</div>