<div class="grid-container">
    <h1 class="title">About</h1>

    <p class="text bigger-arabic">
        بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
    </p>

    <p>
        Open Arabic is a blog for anyone interested in Islamic topics striving to make the shift from reading in English
        to read
        in Arabic.
    </p>

    <h2>Islamic Foundation</h2>
    <p class="text">
        The foundation of Open Arabic is based upon the Qurʼān and the Prophetic Sunnah based on the first generations
        of
        Muslims understanding
        with texts from authors such as Ibn Rajab al-Hanbali, Ibn Taymiyyah, Ibn Qayyim al-Jawziyya, Imam Nawawī, and
        many more (may
        Allah be pleased with them).
    </p>

    <h2>Open Source</h2>
    <p class="text">
        The platform that Open Arabic runs upon is built using Open Source tools such as Angular, .NET, and Kubernetes.
        If
        you are interested in helping out with the development, then please check out the <a
            class="simple-link link-color" href="https://github.com/edenmind/OpenArabic">Open Arabic project</a> on
        GitHub.
    </p>

    <h2>Contact</h2>
    <p class="text">
        If you have any suggestions or comments, then please send an email to
        <a class="simple-link link-color" href="mailto:salam@edenmindcom">salam@edenmind.com</a> or <a
            href="https://github.com/edenmind/OpenArabic/issues" class="simple-link link-color">create an issue</a> on
        GitHub.
    </p>
</div>