.vscode/launch.json
.vscode/tasks.json
mobile/.expo/web/*
mobile/coverage/*
mobile/web-build/*
api/.vscode/launch.json
api/.vscode/settings.json
api/.vscode/tasks.json
api/appsettings.Development.json
api/appsettings.json
iac/variables.tf
*.backup
*.tfstate
iac/.terraform/plugins/selections.json
iac/.terraform/plugins/registry.terraform.io/hashicorp/azurerm/2.33.0/windows_amd64/terraform-provider-azurerm_v2.33.0_x5.exe
iac/sensitive/api.yaml
iac/sensitive/database.yaml
iac/sensitive/frontend.yaml
iac/database.yaml
frontend/src/environments/environment.ts
terraform/.terraform/plugins/registry.terraform.io/hashicorp/azurerm/2.33.0/windows_amd64/terraform-provider-azurerm_v2.33.0_x5.exe
terraform/.terraform/plugins/selections.json
k8s/jobs/backup.yaml
*.log
.idea/.idea.OpenArabic.dir/.idea/workspace.xml
.idea/.idea.OpenArabic.dir/.idea/riderModule.iml
.idea/.idea.OpenArabic.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.OpenArabic.dir/.idea/modules.xml
.idea/.idea.OpenArabic.dir/.idea/indexLayout.xml
.idea/.idea.OpenArabic.dir/.idea/encodings.xml
.idea/.idea.OpenArabic.dir/.idea/contentModel.xml
terraform/sensitive.tfvars
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.58.0/darwin_amd64/terraform-provider-azurerm_v2.58.0_x5
android/.idea/*
k8s/web.yaml
mobile/node_modules
mobile/google-sa.json
.DS_Store
*.icloud
*.icloud
mobile/google-sa.json
