<div class="grid-container">
    <div *ngIf="showSpinner" class="center row">
        <mat-spinner> </mat-spinner>
    </div>
    <div class="center row" *ngIf="!showSpinner">
        <h1 class="title">
            {{ text.title }}
            <p>
                <a href="/author/{{ text.author }}" class="text-decoration-none"><small class="author-by">&mdash; {{ text.author }} &mdash;</small></a
        >
        <a
          href="/text-form/{{ text.textId }}"
          class="text-decoration-none"
          *ngIf="auth.user$ | async as user"
          ><small class="author-by" matRipple> (edit)</small></a
        >
      </p>
    </h1>
    <p>
      <small class="author-by">{{ text.source }}</small>
    </p>
  </div>
  <div *ngIf="!showSpinner">
    <div
      class="row"
      *ngFor="let sentence of text.sentences"
      style="display: grid"
    >
      <app-text-row [sentence]="sentence"></app-text-row>
    </div>
  </div>
</div>