<div class="grid-container">
    <div *ngIf="showSpinner" class="center row">
        <mat-spinner> </mat-spinner>
    </div>
    <div class="center row" *ngIf="!showSpinner">
        <h1 class="title">
            {{ text.title }}
            <p>
                <a href="/author/{{ text.author }}" class="text-decoration-none"><small class="author-by">&mdash; {{ text.author }} &mdash;</small></a
        >
        <a
          href="/text-form/{{ text.textId }}"
          class="text-decoration-none"
          *ngIf="auth.user$ | async as user"
        >
          <small class="author-by" matRipple *ngIf="user.email == text.editor">
            (edit)</small
          ></a
        >
      </p>
      <p>
        <small class="author-by">{{ text.source }}</small>
      </p>
    </h1>
  </div>

  <mat-tab-group mat-align-tabs="center" *ngIf="!showSpinner">
    <mat-tab label="Bilingual">
      <div *ngFor="let sentence of text.sentences" style="display: grid">
        <app-text-row
          [sentence]="sentence"
          [language]="'bilingual'"
        ></app-text-row>
      </div>
    </mat-tab>
    <mat-tab label="Arabic">
      <div style="display: grid; justify-content: center">
        <div
          *ngFor="let sentence of text.sentences"
          style="justify-content: right"
        >
          <app-text-row
            [sentence]="sentence"
            [language]="'arabic'"
          ></app-text-row>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Engish">
      <div style="display: grid; justify-content: center">
        <div
          *ngFor="let sentence of text.sentences"
          style="display: grid; justify-content: left"
        >
          <app-text-row
            [sentence]="sentence"
            [language]="'english'"
          ></app-text-row>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- SHARE -->

  <hr />
  <div class="center row">
    <a
      mat-button
      href="https://www.facebook.com/sharer.php?u=https://openarabic.io/text/{{
        id
      }}"
      target="_blank"
      color="accent"
      style="text-decoration: none"
      >Share on Facebook</a
    >
  </div>
  <div class="center row">
    <a
      mat-button
      href="https://twitter.com/intent/tweet?url=https://openarabic.io/text/{{
        id
      }}&text=&via="
      target="_blank"
      color="accent"
      style="text-decoration: none"
      >Share on Twitter</a
    >
  </div>
</div>