.author-by {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.tab-space {
  padding-top: 25px;
  display: grid;
}

.arabic {
  justify-content: right;
}

.english {
  display: grid;
  justify-content: left;
}

.word-by-word {
  display: grid;
  justify-content: left;
  font-size: large;
  line-height: 150%;
}

.mat-padding {
  margin-top: 25px;
  margin-bottom: 25px;
}
