.author-by {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  padding-bottom: 55px;
  font-size: small;
  text-decoration: none;
}

.title {
  font-weight: 500;
}

.tab-space {
  padding-top: 25px;
  display: grid;
}

.arabic {
  justify-content: right;
}

.english {
  display: grid;
  justify-content: left;
}

.word-by-word {
  display: grid;
  justify-content: left;
  font-size: large;
  line-height: 150%;
}
