<div class="grid-container">
  <div *ngIf="showSpinner">
    <mat-spinner [color]="spinnerColor" class="spanner"> </mat-spinner>
  </div>
  <div class="center" *ngIf="!showSpinner">
    <h1 class="title"> {{ text.title }} </h1>
    <p>
      <a href="/author/{{ text.author }}" class="simple-link">
        <span class="author-by">&mdash; {{ text.author }} &mdash;</span>
      </a>
      <a href="/text-edit/{{ text.textId }}" *ngIf="auth.user$ | async as user" class="simple-link">
        <span class="author-by" matRipple *ngIf="user.email == text.editor"> (edit)</span>
      </a>
    </p>
  </div>

  <mat-tab-group mat-align-tabs="center" *ngIf="!showSpinner">
    <mat-tab label="Bilingual">
      <div *ngFor="let sentence of text.sentences" class="tab-space">
        <app-text-row [sentence]="sentence" [language]="'bilingual'"></app-text-row>
      </div>
    </mat-tab>
    <mat-tab label="Arabic">
      <div class="tab-space">
        <div *ngFor="let sentence of text.sentences" class="arabic">
          <app-text-row [sentence]="sentence" [language]="'arabic'"></app-text-row>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Vocabulary">
      <br />
      <div class="tab-space center">
        <div *ngFor="let sentence of text.wordByWord" class="word-by-word">
          {{ sentence.wordList }}
          <hr />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Engish">
      <div class="tab-space center">
        <div *ngFor="let sentence of text.sentences" class="english">
          <app-text-row [sentence]="sentence" [language]="'english'"></app-text-row>
        </div>
      </div>
    </mat-tab>

    <p class="center author-by">{{ text.source }}</p>
  </mat-tab-group>

  <!-- SHARE -->

  <br><br><br>
  <div class="center">
    <a mat-button href="https://www.facebook.com/sharer.php?u=https://openarabic.io/text/{{id}}" target="_blank"
      color="accent" class="simple-link">Share on Facebook</a>
  </div>
  <div class="center">
    <a mat-button href="https://twitter.com/intent/tweet?url=https://openarabic.io/text/{{id}}&text=&via="
      target="_blank" color="accent" class="simple-link">Share on Twitter</a>
  </div>
</div>