pyarabic>=0.6.14
libqutrub>=1.0
naftawayh>=0.4
tashaphyne>=0.3.1
arramooz-pysqlite>=0.1
qalsadi>=0.4.5
mysam-tagmanager>=0.3.3
alyahmor>=0.1
asmai>=0.1
sylajone>=0.1
maskouk-pysqlite>=0.1
pickledb>=0.9.0
flask>=2.1.2
gunicorn==20.1.0
mishkal>=0.4.1
codernitydb3==0.6.0