<div class="grid-container">
    <h1 class="title">OpenDevelopment 🚀</h1>

    <p class="text">The development of the OpenArabic.io platform is based on <a href="https://en.wikipedia.org/wiki/Open_source" class="simple-link link-color">Open Source
            Principles</a> and an MIT License. All of the code and the builds process is process hosted on Github.</p>


    <p class="text">If you find any bugs 🐛 or have any feature suggestions 💡 then please <a routerLink="/contact" class="simple-link link-color">send a message 💬 </a> or <a
            href="https://github.com/edenmind/OpenArabic/issues" class="simple-link link-color">raise an issue</a>.</p>

    <p>
        <mat-divider></mat-divider>
    </p>

    <h2>CI/CD Status</h2>

    <p><img src="https://github.com/edenmind/OpenArabic/workflows/Build,%20Push%20and%20Deploy/badge.svg"></p>
    <p><img src="https://github.com/edenmind/OpenArabic/workflows/Scan%20Repository%20with%20Snyke/badge.svg"></p>


    <mat-divider></mat-divider>

    <h2>Open Issues: <small></small></h2>
    <h5>There are {{issues.length}} issues open.</h5>

    <div *ngFor="let issue of issues">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{issue.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Github Id: {{issue.number}}</p>
                <p>Created by: <a href="{{issue.userHtmlUrl}}" class="simple-link link-color">{{issue.userLogin}}</a></p>
                <p>Date created: {{issue.createdAt | date}} </p>
                <p>Milestone: <a href="{{issue.milestoneHtmlUrl}}" class="simple-link link-color">{{issue.milestoneTitle}}</a></p>

                <p>Description: {{issue.body}}</p>
                <br>

                <a mat-flat-button href="{{issue.url}}" matRipple color="accent">Open on Github 🚀</a>

            </mat-expansion-panel>
        </mat-accordion>
    </div>


</div>