<div class="grid-container">
    <h1 class="title">Issues Tacking</h1>

    <p class="text">The development of the OpenArabic.io platform is based on <a href="https://en.wikipedia.org/wiki/Open_source" class="simple-link link-color">Open Source
            Principles</a> with a transparent development process hosted on Github.</p>


    <p class="text">If you find any bugs or have any feature suggestions then please <a routerLink="/contact" class="simple-link link-color">send a message</a> or <a
            href="https://github.com/edenmind/OpenArabic/issues" class="simple-link link-color">raise an issue 🚀</a>.</p>

    <p>
        <mat-divider></mat-divider>
    </p>

    <h2>Open Issues</h2>

    <div *ngFor="let issue of issues">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{issue.number}}: {{issue.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Created by: <a href="{{issue.userHtmlUrl}}" class="simple-link link-color">{{issue.userLogin}}</a></p>
                <p>Date created: {{issue.createdAt | date}} </p>
                <p>Milestone: <a href="{{issue.milestoneHtmlUrl}}" class="simple-link link-color">{{issue.milestoneTitle}}</a></p>

                <p>Description: {{issue.body}}</p>
                <br>

                <a mat-flat-button href="{{issue.url}}" matRipple color="accent">Open on Github 🚀</a>

            </mat-expansion-panel>
        </mat-accordion>
    </div>


</div>