.arabic {
  direction: rtl;
  text-align: center;
  font-size: xx-large;
  line-height: 150%;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 0px;
}

.english {
  direction: ltr;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: medium;
  line-height: 150%;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 15px;
}

.arabic-single {
  direction: rtl;
  font-size: x-large;
  line-height: 150%;
  text-align: right;
}

.english-single {
  direction: ltr;
  font-size: large;
  line-height: 150%;
  text-align: left;
}
