<mat-list>
    <a href="https://www.facebook.com/sharer.php?u=https://openarabic.io/" mat-list-item class="simple-link" matRipple>
        <span mat-line><strong>Facebook</strong></span>
        <span mat-line>Share Word of The Day 🎉</span>
    </a>

    <a href="https://twitter.com/intent/tweet?url=https://openarabic.io/&text=OpenArabic.io&hashtags=openarabic,arabic,sunnah,salaf&via=arabicopen" mat-list-item
        class="simple-link" matRipple>
        <span mat-line><strong>Twitter</strong></span>
        <span mat-line>Tweet Word of The Day 🎉</span>
    </a>

</mat-list>