<div *ngIf="showSpinner">
    <mat-spinner [color]="spinnerColor" class="spanner"></mat-spinner>
    <p class="bigger-arabic center" style="color: #69f0ae">إِنَّ اللّهَ مَعَ الصَّابِرِينَ</p>
</div>

<div *ngIf="!showSpinner">

    <mat-card class="center" *ngIf="isStartPage()" style="background: #9c27b0;">
        <h1 class="mat-display-3 title-padding">بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ‎</h1>
        <h3 class="max">👋 Welcome to a bilingual reading platform for learning
            Islamic topics and classic Arabic (<em>al-fuṣḥā</em>) in an intuitive, 🎉 and inspiring way. <br><br>
            <a mat-flat-button routerLink="/about" matRipple class="simple-link">Read More</a>
            <br><br>
        </h3>
    </mat-card>

    <mat-card *ngIf="!isStartPage()">
        <h3>{{pageTitle}} <small> with {{length}} texts</small></h3>
    </mat-card>

    <mat-card *ngIf="isStartPage()">



        <mat-card-header>
            <mat-card-title>
                Changelog
            </mat-card-title>
            <mat-card-subtitle>Latest updates on the technical platform.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>2020-02-14: </strong>&nbsp; Read Time of Text (Feature)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>When reading a text, the reader will get information about estimated reading time.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>2020-02-13: </strong>&nbsp; Introducing OpenDevelopment (Feature)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The development being made on OpenArabic is now more transparent and you can follow it either on Github or directly at the website clicking on the
                        lightbuld in the upper right corner.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>2020-02-13: </strong>&nbsp; Vocalisation Service (Fix)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The vocalisation service adding fatha, kesra and damma caused the frontend API to get stuck at 100% CPU load if the serivece was uavailable. This is now
                        fixed.</p>
                </mat-expansion-panel>

            </mat-accordion>

        </mat-card-content>
    </mat-card>

    <mat-grid-list [cols]="breakPoint" rowHeight="350px" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let card of texts" [colspan]="1" [rowspan]="1">
            <mat-card matRipple class="dashboard-card" (click)="openCard(card.textId)">
                <mat-card-header>
                    <mat-card-title>
                        {{ card.title }}
                    </mat-card-title>
                    <mat-card-subtitle>{{ card.author }} </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="dashboard-card-content">
                    <div>
                        <p *ngIf="card.sentences?.length" class="english">
                            {{card.englishText | slice: 0:150}}...
                        </p>
                        <p *ngIf="card.sentences?.length" class="arabic">
                            {{card.arabicText | slice: 0:60}}...
                        </p>
                        <p class="time-ago">{{ card.timeAgo }}</p>
                        <mat-chip-list aria-label="Category">
                            <a routerLink="/category/{{ card.category }}" class="simple-link">
                                <mat-chip color="accent" class="category-pointer" selected>{{ card.category }}</mat-chip>
                            </a>
                        </mat-chip-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]=length [pageIndex]=pageIndex [pageSize]=pageSize [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event.pageIndex)">
    </mat-paginator>
</div>