<mat-spinner [color]="spinnerColor" class="spanner" *ngIf="showSpinner"></mat-spinner>

<div *ngIf="!showSpinner">

    <mat-card class="center" *ngIf="isStartPage()" style="background: #9c27b0;">
        <h1 class="mat-display-3 title-padding">بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ‎</h1>
        <h3>👋 Welcome to a bilingual reading platform for anyone interested in<br> learning
            Islamic topics and classic Arabic (<em>al-fuṣḥā</em>) in an intuitive and inspiring way.<br><br>
            <a mat-flat-button routerLink="/about" matRipple>Read More</a>
            <br><br>
        </h3>
    </mat-card>

    <mat-card *ngIf="!isStartPage()">
        <h3>{{getCurrentPage()}}</h3>
    </mat-card>

    <mat-grid-list [cols]="breakPoint" rowHeight="350px" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let card of texts" [colspan]="1" [rowspan]="1">
            <mat-card matRipple class="dashboard-card" (click)="openCard(card.textId)">
                <mat-card-header>
                    <mat-card-title>
                        {{ card.title }}
                    </mat-card-title>
                    <mat-card-subtitle>{{ card.author }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="dashboard-card-content">
                    <div>
                        <p *ngIf="card.sentences?.length" class="english">
                            {{generateEnglishIngress(card) | slice: 0:150}}...
                        </p>
                        <p *ngIf="card.sentences?.length" class="arabic">
                            {{generateArabicIngress(card) | slice: 0:200}}...
                        </p>
                        <p class="time-ago">{{ card.timeAgo }}</p>
                        <mat-chip-list aria-label="Category">
                            <a routerLink="/category/{{ card.category }}" class="simple-link">
                                <mat-chip color="accent" selected>{{ card.category }}</mat-chip>
                            </a>
                        </mat-chip-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="texts.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>