.dashboard-card {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  cursor: pointer;
}

.time-ago {
  font-size: smaller;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title-padding {
  padding-top: 45px;
  margin-bottom: 25px;
}

.arabic {
  direction: rtl;
  font-size: x-large;
  line-height: 150%;
}

.english {
  direction: ltr;
  line-height: 150%;
}

.max {
  max-width: 600px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.category-pointer {
  cursor: pointer;
}
