<div *ngIf="showSpinner">
    <mat-spinner [color]="spinnerColor" class="spanner"></mat-spinner>
    <p class="bigger-arabic center" style="color: #69f0ae">إِنَّ اللّهَ مَعَ الصَّابِرِينَ</p>
</div>

<div *ngIf="!showSpinner">

    <mat-card class="center" *ngIf="isStartPage()" style="background: #9c27b0;">
        <h1 class="mat-display-3 title-padding">بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ‎</h1>
        <h3 class="max">👋 Welcome to a bilingual reading platform for learning
            Islamic topics and classic Arabic (<em>al-fuṣḥā</em>) in an intuitive, 🎉 and inspiring way. <br><br>
            <a mat-flat-button routerLink="/about" matRipple class="simple-link">Read More</a>
            <br><br>
        </h3>
    </mat-card>

    <mat-card *ngIf="!isStartPage()">
        <h3>{{pageTitle}} <small> with {{length}} texts</small></h3>
    </mat-card>

    <br>
    <div style="padding: 15px" *ngIf="isStartPage()">

        <mat-card>
            <mat-card-title>☀️ Word of The Day
            </mat-card-title>

            <br>
            <mat-card-subtitle>{{wordoftheday.hijriDate}}</mat-card-subtitle>
            <br>
            <mat-card-title>👉 {{wordoftheday.arabic}}</mat-card-title>
            <br>
            <mat-card-subtitle>Latin: {{wordoftheday.transliteration}}<br>
                Category: {{wordoftheday.typeOfWord}}<br>
                Meaning: {{wordoftheday.meaning}}</mat-card-subtitle>
            <mat-card-content>
                📖 In The Quran: <br><br>
                <span style="font-size: 175%;">
                    {{wordoftheday.quranArabic}}
                </span><br><br>
                {{wordoftheday.quranEnglish}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="openBottomSheet()">
                    <mat-icon>share</mat-icon> SHARE
                </button>
            </mat-card-actions>
        </mat-card>

        <br>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Changelog 🚀</strong>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                The latest features and fixes deployed to OpenArabic.<br><br>

                <mat-accordion class="example-headers-align" hideToggle>

                    <div *ngFor="let change of changelog">

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{change.title}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    &nbsp;
                                    <mat-icon>lightbulb</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p><strong>{{change.createdAt}}: &nbsp; </strong>{{change.description}} </p>
                        </mat-expansion-panel>

                    </div>

                </mat-accordion>

            </mat-expansion-panel>

        </mat-accordion>



    </div>

    <mat-grid-list [cols]="breakPoint" rowHeight="350px" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let card of texts" [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card" (click)="openCard(card.textId)">
                <mat-card-header>
                    <mat-card-title>
                        {{ card.title }}
                    </mat-card-title>
                    <mat-card-subtitle>{{ card.author }} </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="dashboard-card-content">
                    <div>
                        <p *ngIf="card.sentences?.length" class="english">
                            {{card.englishText | slice: 0:150}}...
                        </p>
                        <p *ngIf="card.sentences?.length" class="arabic">
                            {{card.arabicText | slice: 0:60}}...
                        </p>
                        <p class="time-ago">{{ card.timeAgo }}</p>
                        <mat-chip-list aria-label="Category">
                            <a routerLink="/category/{{ card.category }}" class="simple-link">
                                <mat-chip color="accent" class="category-pointer" selected>{{ card.category }}</mat-chip>
                            </a>
                        </mat-chip-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]=length [pageIndex]=pageIndex [pageSize]=pageSize [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event.pageIndex)">
    </mat-paginator>
</div>