@import url("https://unpkg.com/bootstrap@4.5.2/dist/css/bootstrap.min.css");

.button-margin {
  margin: 8px 8px 8px 0;
}

.full-width {
  width: 100%;
  margin-top: 25px;
}

.text-area {
  height: 500px;
}

.arabic {
  line-height: 175%;
  font-size: x-large;
  direction: rtl;
  text-align: right;
}

.english {
  line-height: 230%;
  font-size: large;
}

.spacing {
  padding-top: 25px;
  padding-bottom: 5px;
  line-height: 150%;
}

/* drag and drop */

.edit-container {
  width: 400px;
  max-width: 90%;
  margin: 0 7px 7px 0;
  display: inline-block;
  vertical-align: left;
  font-size: x-large;
}

.edit-list {
  border: solid 1px #f8f9fa;
  min-height: 25px;
  background: #343a40;
  color: #f8f9fa;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin-top: 5px;
}

.edit-box {
  padding: 5px 5px;
  border-bottom: solid 1px #f8f9fa;
  background: #343a40;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  color: #f8f9fa;
  font-size: small;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.edit-box:last-child {
  border: none;
}

.edit-list.cdk-drop-list-dragging .edit-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.clickableWord {
  color: #ce93d8;
  cursor: pointer;
}
