<div class="grid-container">
    <h1 class="title">About</h1>

    <p class="text bigger-arabic">
        بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
    </p>

    <p class="text">
        If you know some Arabic and strive to switch from reading Islamic texts in English to read in
        Arabic; then
        OpenArabic is a reading platform — featuring short bilingual texts and vocabulary quizzes — that
        will help you with that switch, inshāʾAllāh.
    </p>

    <p class="text">
        Shaykh al-Islām Ibn Taymiyah (may Allāh have mercy on him) said: "The Arabic language is the symbol of Islam and
        its people." (<i>Iqtida’ al-Sirāt al-Mustaqīm, 1/519</i>)
    </p>

    <h2>Foundation</h2>
    <p class="text">
        The theological foundation of OpenArabic is based upon the Qurʼān, the Prophetic Sunnah and the first
        generations
        of Muslims understanding with texts from Islamic Scholars such as
        <a routerLink="/author/Ibn Rajab al-Hanbali" class="simple-link link-color">Ibn Rājab al-Hanbali</a>,
        <a routerLink="/author/Ibn Taymiyyah" class="simple-link link-color">Ibn Taymiyyah</a>,
        <a routerLink="/author/Ibn Qayyim al-Jawziyya" class="simple-link link-color">Ibn Qayyim al-Jawziyya</a>,
        <a routerLink="/author/Imam Nawawī" class="simple-link link-color">Imām Nawawī</a>, and many more
        (may Allāh be pleased with them).
    </p>

    <h2>Open Source</h2>
    <p class="text">
        The platform that OpenArabic runs upon is built using Open Source tools such as Angular, .NET, and Kubernetes.
        If
        you are interested in helping out with the development, then please check out the <a
            class="simple-link link-color" href="https://github.com/edenmind/OpenArabic">Open Arabic project</a> on
        GitHub.
    </p>

    <h2>Contact</h2>
    <p class="text">
        If you have any suggestions, comments or 💭, then please send an email to
        <a class="simple-link link-color" href="mailto:salam@edenmindcom">salam@edenmind.com</a> or <a
            href="https://github.com/edenmind/OpenArabic/issues" class="simple-link link-color">create an 🚀 issue</a>
        on
        GitHub.
    </p>
</div>