<div class="grid-container">
    <h1 class="title">About</h1>

    <p class="text bigger-arabic">
        بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
    </p>

    <h2>Audience</h2>
    <p class="text">
        If you know some Arabic and strive to switch from reading Islamic texts in English to read in
        Arabic; then
        OpenArabic is a reading platform — featuring short bilingual texts and vocabulary quizzes — that
        will help you in that process, inshāʾAllāh.
    </p>
    <p class="text">
        OpenArabic does not teach the Arabic alphabet nor Arabic grammar. If you need a resource to get you started,
        then the Duolingo app
        available on <a href="https://apps.apple.com/us/app/duolingo-language-lessons/id570060128"
            class="simple-link link-color">iPhone</a> and
        <a href="https://play.google.com/store/apps/details?id=com.duolingo&hl=en_US&gl=US"
            class="simple-link link-color">Android</a> might come in
        handy.
    </p>

    <h2>Foundation</h2>
    <p class="text">
        The theological foundation of OpenArabic is based upon the Qurʼān, the Prophetic Sunnah and the first
        generations
        of Muslims understanding with texts from Islamic Scholars such as:</p>


    <mat-list role="list">
        <mat-list-item role="listitem" matRipple><a routerLink="/author/al-Hasan al-Basri"
                class="simple-link link-color">al-Hasan
                al-Basri</a></mat-list-item>

        <mat-list-item role="listitem" matRipple><a routerLink="/author/Imām Abū Ḥanīfa"
                class="simple-link link-color">Imām
                Abū Ḥanīfa</a></mat-list-item>

        <mat-list-item role="listitem" matRipple><a routerLink="/author/Imām Mālik bin Anas"
                class="simple-link link-color">Imām
                Mālik bin Anas</a></mat-list-item>

        <mat-list-item role="listitem" matRipple><a routerLink="/author/Imām%20al-Shāfiʿī"
                class="simple-link link-color">Imām
                al-Shāfiʿī</a></mat-list-item>

        <mat-list-item role="listitem" matRipple><a routerLink="/author/Imām Aḥmad ibn Ḥanbal"
                class="simple-link link-color">Imām Aḥmad ibn Ḥanbal</a></mat-list-item>

        <mat-list-item role="listitem" matRipple><a routerLink="/author/Ibn Rajab al-Hanbali"
                class="simple-link link-color">Ibn
                Rājab al-Hanbali</a></mat-list-item>
        <mat-list-item role="listitem" matRipple><a routerLink="/author/Ibn Taymiyyah"
                class="simple-link link-color">Ibn
                Taymiyyah</a></mat-list-item>
        <mat-list-item role="listitem" matRipple><a routerLink="/author/Ibn Qayyim al-Jawziyya"
                class="simple-link link-color">Ibn
                Qayyim al-Jawziyya</a></mat-list-item>

        <mat-list-item role="listitem" matRipple><a routerLink="/author/Shams ad-Dīn adh-Dhahabī"
                class="simple-link link-color">Shams ad-Dīn adh-Dhahabī</a></mat-list-item>

        <mat-list-item role="listitem" matRipple><a routerLink="/author/Imam Nawawī" class="simple-link link-color">Imām
                Nawawī</a></mat-list-item>
        <mat-list-item role="listitem" matRipple><a routerLink="/author/Ibn%20Kathīr" class="simple-link link-color">Ibn
                Kathīr</a></mat-list-item>
        <mat-list-item role="listitem" matRipple><a routerLink="/author/Ibn Ḥajar al-ʿAsqalānī"
                class="simple-link link-color">Ibn
                Ḥajar al-ʿAsqalānī</a></mat-list-item>
        <mat-list-item role="listitem" matRipple><a routerLink="/author/al-Fuḍayl%20ibn%20ʻIyāḍ"
                class="simple-link link-color">al-Fuḍayl ibn ʻIyāḍ</a></mat-list-item>
    </mat-list>










    <br><br>

    <h2>Open Source</h2>
    <p class="text">
        The platform that OpenArabic runs upon is built using Open Source tools such as Angular, .NET, and Kubernetes.
        If
        you are interested in helping out with the development, then please check out the <a
            class="simple-link link-color" href="https://github.com/edenmind/OpenArabic">OpenArabic project</a> on
        GitHub.
    </p>

    <h2>Contact</h2>
    <p class="text">
        If you have any suggestions, comments or 💭, then please send an email to
        <a class="simple-link link-color" href="mailto:salam@edenmindcom">salam@edenmind.com</a> or <a
            href="https://github.com/edenmind/OpenArabic/issues" class="simple-link link-color">create an 🚀 issue</a>
        on
        GitHub.
    </p>
</div>