<mat-spinner [color]="spinnerColor" class="spanner" *ngIf="showTextSpinner"></mat-spinner>
<div class="grid-container-text">


  <!-- Text information -->
  <div class="center" *ngIf="!showTextSpinner">
    <h1 class="title"> {{ text.title }} </h1>
    <p>
      <a routerLink="/author/{{ text.author }}" class="simple-link" matRipple>
        <span class="author-by">{{ text.author }}</span>
      </a><br>
      <span class="center source">{{ text.source }}</span>
      <a routerLink="/text-edit/{{ text.textId }}" *ngIf="auth.user$ | async as user" class="simple-link">
        <span matRipple *ngIf="user.email == text.editor" class="author-by"> (edit)</span>
      </a>
    </p>
  </div>

  <mat-tab-group mat-align-tabs="center" *ngIf="!showTextSpinner">

    <!-- Bilingual -->
    <mat-tab label="Bilingual">
      <div class="tab-space margins">
        <div *ngFor="let sentence of text.sentences" matRipple>
          <app-text-row [sentence]="sentence" [language]="'bilingual'" (click)="openDialog(sentence.sentenceId)">
          </app-text-row>
        </div>
      </div>
    </mat-tab>

    <!-- Arabic -->
    <mat-tab label="Arabic">
      <div class="tab-space center">
        <div *ngFor="let sentence of text.sentences" class="max-width" matRipple>
          <app-text-row [sentence]="sentence" [language]="'arabic'" (click)="openDialog(sentence.sentenceId)">
          </app-text-row>
        </div>
      </div>
    </mat-tab>

    <!-- English -->
    <mat-tab label="Engish">
      <div class="tab-space center">
        <div *ngFor="let sentence of text.sentences" class="max-width" matRipple>
          <app-text-row [sentence]="sentence" [language]="'english'" (click)="openDialog(sentence.sentenceId)">
          </app-text-row>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-divider class="mat-padding"></mat-divider>

  <!-- RELATED -->
  <h3 class="center related-margin">Related in {{text.category}}:</h3>
  <div *ngFor="let related of text.relatedTexts" class="center">
    <a mat-button href="/text/{{related.textId}}" style="color: rgba(255,255,255,.6)">{{related.title}}</a>
  </div>


  <!-- SHARE -->
  <div class="center related-margin">
    <a mat-button href="https://www.facebook.com/sharer.php?u=https://openarabic.io/text/{{id}}" target="_blank"
      color="accent" class="simple-link">Share on Facebook</a>
  </div>
  <div class="center">
    <a mat-button
      href="https://twitter.com/intent/tweet?url=https://openarabic.io/text/{{id}}&text={{text.title}} by {{text.author}} in Arabic and English&hashtags=openarabic,arabic,sunnah,salaf&via=arabicopen"
      target="_blank" color="accent" class="simple-link">Share on Twitter</a>
  </div>
</div>