.author-by {
  color: #ce93d8;
  text-decoration: none;
}

.source {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: italic;
}

.tab-space {
  padding-top: 25px;
  display: grid;
}

.word-by-word {
  display: grid;
  justify-content: left;
  font-size: large;
  line-height: 150%;
}

.mat-padding {
  margin-top: 25px;
  margin-bottom: 25px;
}

.max-width {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 800px;
}

.margins {
  margin-right: 10px;
  margin-left: 10px;
}

.related-margin {
  margin-top: 55px;
  margin-bottom: 0px;
}

.related-text-margin {
  margin-bottom: 25px;
}

.chip {
  cursor: pointer;
}

.selected {
  background-color: #9c27b0;
  color: #fff;
}

.correct {
  background-color: #69f0ae;
  color: rgba(0, 0, 0, 0.87);
}

.standard {
  background-color: #616161;
  color: #fff;
}

.chip-center {
  width: 500px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
