.icon {
  vertical-align: middle;
}

.center {
  justify-content: center;
  text-align: center;
}

.grid-container {
  margin: 25px;
}

.white-link {
  color: #ffff;
  text-decoration: none;
}

.simple-link {
  text-decoration: none;
}
