.icon {
  vertical-align: middle;
}

.title {
  font-weight: 500;
}

.center {
  justify-content: center;
  text-align: center;
}

.grid-container {
  margin: 25px;
}

.white-link {
  color: #ffff;
  text-decoration: none;
}

.simple-link {
  text-decoration: none;
}

.link-color {
  color: #ce93d8;
}

.spanner {
  margin: 55px auto;
}
